<!DOCTYPE html>
<html lang="en" data-pgc-set-master>
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Blank Template for Bootstrap</title>
    <!-- Bootstrap core CSS -->
    <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <!-- Custom styles for this template -->
    <link href="../style.css" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:700,400,300,300italic,400italic,700italic,600,600italic&display=swap" rel="stylesheet" type="text/css"/><link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,700,700italic,400italic&display=swap" rel="stylesheet" type="text/css"/><link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.5.95/css/materialdesignicons.min.css" rel="stylesheet" type="text/css"/></head>

  <body>

    <div class="container" style="max-width: 600px;"><section data-pg-name="emailBrand" class="px-3 py-3">
                <img src="../assets/images/logos/wol-logo-black.svg" width="200px"/>
            </section><section class="bg-primary px-3 py-4 text-white" data-pg-name="emailTitle">                <h1 class="h3 m-0" data-pgc-edit="editEmailTitle">Email title</h1></section><section class="px-3 py-4" data-pg-name="emailBody" data-pgc-edit="editEmailBody">                <p>Email body</p></section><section class="bg-secondary px-3 py-3 text-white" data-pg-name="emailFooter">                <div class="align-items-center d-flex flex-column justify-content-center">
                    <img src="../assets/images/logos/wol-logo-white.svg" width="200px" class="mb-3"/>
                    <p class="small"><a href="#" class="text-reset">Contact us</a> | <a href="#" class="text-reset">Privacy Policy</a></p>
                    <p class="mb-0 small">Copyright © 1999-2020 John Wiley & Sons, Inc. All Rights Reserved.</p>
                </div></section>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../assets/js/popper.min.js"></script>
    <script src="../bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
